# ======================
# Python virtual env
# ======================
.venv/
venv/

# ======================
# Python cache
# ======================
__pycache__/
*.pyc

# ======================
# IDE configs
# ======================
.idea/
.vscode/

# ======================
# OS files
# ======================
.DS_Store

# ======================
# Generated output
# ======================
data/
scraper/data/

# ======================
# Excel output
# ======================
*.xlsx
*.xls
~$*.xlsx

# ======================
# Playwright
# ======================
.playwright/
playwright-report/
